<template>
  <todo-nav-bar></todo-nav-bar>
  <to-do></to-do>
  <div></div>
  <div class="main-aurelia-value-div">
    <h4>Value in Aurelia:</h4>
    <div>
      ${coolNumber}
    </div>
  </div>
  <div class="main-two-way-div">
    <todo-two-way-test cool-number.two-way="coolNumber"></todo-two-way-test>
  </div>
</template>
